#form{
    border: 1px solid red;
    max-width: 48%;
    padding: 1.5%;

    margin: 0 auto;
    text-align: center;
    background-color: aquamarine;
    background-image: url('../../public/imagensNatal/natal_1C.jpg');
}

#nome, #email, #telefone{
    font-size: 1.2em;
    margin-bottom: 3%;

    border-style: none;


    border-radius: 5px;

    max-width: 70%;
    min-width: 70%;
}

#form #descricao{
    max-width: 70%;
    min-width: 70%;
    min-height: 3em;
    font-size: 1.3em;
}

#botaoEnviar{

    /* display: flex; */
    /* position: relative; */
    border-radius: 10px;
    /* background-color: rgba(22, 251, 175, 0.906); */
    background-color: rgba(76, 156, 231, 0.943);


    font-size: 1.4em;
    margin-top: 2%;
    /* margin-left: 3vw; */

    height: 4vh;
    max-width: 70%;
    min-width: 70%;
    align-items: center;
    justify-content: center;
    border: none;
    
}



@media (max-width: 750px){
    #form{
      max-width: 100%;
    }
}