#form{
    /* border: 1px solid red; */
    /* max-width: 100%;
    max-height: 100%; */
    padding: 1.5%;

    margin: 0 auto;
    text-align: center;
    background-color: #705445;
    /* background-image: url('../../public/imagens/CapaPascoa.png'); */
    border-radius: 10px;
}

#nome, #email, #telefone{
    font-size: 1.2em;
    margin-bottom: 5%;

    border-style: none;


    border-radius: 5px;
    border-radius: 10px;


    min-height: 4vh;
    max-height: 4vh;
    width: 20vw;
    /* max-width: 20vw; */

}

#titulo{
    grid-area: 'titulo';
    color: #fff;
}

#nome{
    grid-area: 'nome';
}

#email{
    grid-area: 'email';
}

#telefone{
    grid-area: 'telefone';
}

#descricao{

    grid-area: 'descricao';

    min-width: 20vw;
    /* max-width: 60vw; */
    /* height: 4vh; */
    max-height: 20vh;
    border-radius: 10px;
    
    font-size: 1.4em;
}

#botaoEnviar{

    /* display: flex; */
    /* position: relative; */
    border-radius: 10px;
    /* background-color: rgba(22, 251, 175, 0.906); */
    background-color: #ECD1BC;


    font-size: 1.4em;
    margin-top: 2%;
    /* margin-left: 3vw; */

    height: 4vh;
    width: 20vw;
    min-width: 70%;
    align-items: center;
    justify-content: center;
    border: none;
    
}


/*  */

@media (min-width: 1000px){
    #descricao{
        /* border: 2px solid red; */
        max-height: 15vh;
    }


}

@media (max-width: 999px){
    #form{
      /* width: 100%; */
      

      display: grid;

      grid-template-areas: 
      'titulo'
      'nome'
      'email'
      'telefone'
      'descricao'
      ;
    }


    #titulo{
        font-size: 1em;
    }

    #nome, #email, #telefone{
    min-height: 4vh;
    max-height: 4vh;

    /* min-width: 20vw; */
    width: 90vw;
    }
    #descricao{
    
    width: 90vw;
        
    }

    #botaoEnviar{
        
        margin: 0 auto;
        margin-top: 3vh;
        margin-bottom: 3vh;
        width: 90vw;
        height: 5vh;
    }

    #importForm{
        margin-top:23vh;
    }
    

}