body{
  /* background-image: url('../../public/imagens/bkimage.jpg'); */
  /* background-attachment: fixed; */
  /* padding: 10px; */
  margin: 0 auto;

  /* min-width: 00px; */

  max-width: 1500px;
  

  overflow-x: hidden; /* Hide horizontal scrollbar */
  /* overflow-y: hidden; Hide horizontal scrollbar */

  font-family: 'Indie Flower', cursive;  
  
  
}

@import url('https://fonts.googleapis.com/css2?family= Indie +Flower & display=swap');


@media (min-width: 1000px){
  body{
    margin: 0 auto;
    padding:0;
    width: 80vw;
    /* border: 2px solid red; */
    min-width: 450px;
    
    
  }
}

@media (max-width: 999px){
  body{
    margin: 0;
    padding:0;
    min-width: 120vw;
    /* border: 2px solid red; */
    min-width: 450px;
    
    
  }
}